# clangd cache folder
.cache/
# https://docs.platformio.org/en/stable//integration/compile_commands.html
compile_commands.json
.pio
env/
pcb/**/Gaggimate-backups
pcb/**/*.kicad_sch_old
.vscode
.idea
node_modules/
__pycache__
data/
